@import "./response.scss";

.layout{

    height: 100vh;
    max-width: 95%;

    
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;

                                    

    @include lg{
        max-width: 1258px;
    }
    @include md{
        max-width:  970px;
    }
    
    @include sm{
        max-width:  750px;
    }
    @include x-sm{
        max-width:  250px;
    }

    .content{
        min-height: calc(100vh - 100px);
        flex: 1;

        // @include sm{
        //     flex: 0;
        // }
        
        
    }
    footer{
        margin-top: 1rem;
        margin-bottom: 1.8rem;
        background-color: #222;
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 17px;
        span{
            color: rgb(60, 144, 247);
            font-weight: bold;
        }
    }
}