@import "./response.scss";

.layout{

    height: 100vh;
    max-width: 96%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;

    @include sm{
        width: 100%;
    }                                

    

    .content{
        min-height: calc(100vh - 100px);
        flex: 1;
        
    }
    footer{
        margin-top: 1rem;
        margin-bottom: 1.8rem;
        background-color: #222;
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 17px;
        span{
            color: rgb(60, 144, 247);
            font-weight: bold;
        }
    }
}