.popupContainer{
    display: flex;
    gap: 20px;
    img{
        width: 65px;
        height: 48px;
        object-fit: cover;
        border-radius: 6px;
    }
    .txtContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .tit{
            font-size: 15px;
        }
    }
}