@import "../../response.scss";
.listPage{

    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    overflow-y: scroll;
    @include md{
        flex-direction: column;
    
    }

    .leftContent{

        flex: 3;
        @include md{
            flex: none;       
        }

        .wrapper{
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
            padding-bottom: 50px;
            width: 100%;
               
        }
        .loadMore{
            border: none;
            font-size: 22px;
            color: rgb(7, 118, 198);
            background-color: transparent;
            text-decoration:underline;
            cursor: pointer;
        }
    }
    .mapContainer{
        background-color: #fcf5f3;
        flex: 2;
        width: max-content;
        height: 100vh;
        width: 100%;
        @include md{
            flex: none;
            display: none;
        
        }
    }

}