@import "../../response.scss";
nav{
    
    .user{
        display: flex;
        align-items: center;
        font-weight: bold;
        
        @include sm{
            span{
                display: none;
            }
        }
        .name{
            margin-right: 1rem;
            margin-left: 1rem;
            
        }
        .profile{
            padding: 12px 24px;
            background-color: #fece51;
            cursor: pointer;
            border: none;
            position: relative;
            .notif{
                position: absolute;
                top: -20%;
                right: -6px;
                background-color: red;
                color: white;
                padding: 5px 8px;
                border-radius: 50%;
            }

        }
        img{
            width: 45px;
            height: 45px;
            object-fit: cover;
            margin-right: 1rem;
            border-radius: 50%;
        }
    }
    a{
        transition: all 0.5s ease;
        &:hover{
            scale: 1.05;
        }
        @include sm{
            display: none;
        }
    }

    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left{

        flex: 3;


        display: flex;
        gap: 70px;
        align-items: center;



        span{

            @include md{
                display: none;
            }
            @include sm{
                display: initial;
            }
        }
        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            
            
            img{
                width: 38px;
            }
        }
        ul.list{
            display: flex;

            li{
                margin-right: 20px;
                    transition: all 0.5s ease;
                    &:hover{
                        scale: 1.05;
                    }
            }

        }
    }
    .right{
        flex: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #fcf5f3;
        height: 100px;
        position: relative;
        z-index: 77;
        @include md{
            background-color: transparent;
        }
        .register{
            background-color: #fece51;
        }
        a{
            padding: 12px 24px;
            margin: 20px;
        }
        .heart_icon{
            margin-left: -3rem;
            font-size: 30px;
            cursor: pointer;
            display: flex;
            @include md{
                margin-right: 0;
            }
        }
    .menuIcon{
        display: flex;
        display: none;
        z-index: 33;
        img{
            width: 42px;
            border: 3px solid white;
            height: 42px;
            border-radius: 50%;
            cursor: pointer;
        }


        @include sm{
            display: initial;
        }
    }
    .menu{

        background-color: black;
        color: white;
        height: 100vh;

        position: fixed;
        width: 50%;
        top: 0;

        right: -100%;
        transition: 0.7s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        align-items: center;
        font-size: 28px;


        .list li{
            margin-bottom: 20px;
            padding: 8px 6px;
            border-bottom: 3px solid transparent;
            transition: 0.5s;

            &:hover{

            border-bottom: 3px solid white;

            }
        }
        &.sidebar{
            right: 0;
        }
        @include sm{
            a{

                display: initial;
            }
        }
    }
    }
}